/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

    /* Combined listview collapsible menu. */
    /* Unset negative margin bottom on the listviews. */
    #left-panel .ui-panel-inner > .ui-listview { margin-bottom: 0; }
    /* Unset top and bottom margin on collapsible set. */
    #left-panel .ui-collapsible-set { margin: 0; }
    /* The first collapsible contains the collapsible set. Make it fit exactly in the collapsible content. */
    #left-panel .ui-panel-inner > .ui-collapsible > .ui-collapsible-content { padding-top: 0; padding-bottom: 0;  border-bottom: none; }
    /* Remove border top if a collapsible comes after a listview. */
    #left-panel .ui-panel-inner  > .ui-collapsible > .ui-collapsible-heading .ui-btn,
    #left-panel .ui-collapsible.ui-first-child .ui-collapsible-heading .ui-btn { border-top: none; }
    /* Give the first collapsible heading the same padding, i.e. same height, as the list items. */
    #left-panel .ui-collapsible-heading .ui-btn-inner { padding: .7em 40px .7em 15px; }
    /* Give the other collapsible headings the same padding and font-size as the list divider. */
    #left-panel .ui-collapsible-set .ui-collapsible-heading .ui-btn-inner { padding: .5em 40px .5em 15px; font-size: 14px; }
    /* Styling of the close button in both panels. */
    #demo-page .ui-panel-inner > .ui-listview .ui-first-child {
        background: #eee;
    }
    /* Reveal menu shadow on top of the list items */

    /* Use the ui-body class of your page theme (ui-body-d in this demo) to set a background image.
     This class will be added to the content wrapper, while the page itself gets the same background
     as the panel before opening the panel. */


    
    .ios7
{
    padding-top: 20px !important;
}

    .left-ios7
{
    padding-top: 15px !important;
}


div.ui-input-text .error  {
    border:1px solid red;
}

div.error {
    display: none;
}


label.error, label.error {
    color: red;
    
}



.swiper-container img{  max-width: 100%; min-height: 85%}
      

      
          

    
    
    
       label.error {
		color: red;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.4;
		margin-top: 0.5em;
		width: 100%;
		float: none;
	}
	@media screen and (orientation: portrait) {
		label.error {
			margin-left: 0;
			display: block;
		}
	}
	@media screen and (orientation: landscape) {
		label.error {
			display: inline-block;
			margin-left: 22%;
		}
	}
	em {
		color: red;
		font-weight: bold;
		padding-right: .25em;
	}
        div.error {
    display: none;
}



.img_home{
     background: url('http://www.flywavez.com/images/sexy-girl-listening.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.content-info{
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #c8c7cc;
    border-top: 1px solid #c8c7cc;
    color: #000;
    margin-left: -15px;
    padding: 10px 15px;
    width: 100%;
}